{% extends 'layout/base.html' %} {% block content %}
<div class="container-fluid">
    <!-- <h3 class="text-dark mb-4">Team</h3> -->
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Site List <small style="color: red;;">{{msg}} </small>
                <button class="btn btn-sm btn-info pull-right" data-toggle="modal" data-target="#exampleModal">Add Site</button>
            </p>
        </div>
        <div class="card-body">
            <div class="table-responsive" role="grid" aria-describedby="dataTable_info">
                <table class="table table-sm" id="myTable">
                    <thead>
                        <tr style="font-weight: bold;">
                            <th>#</th>
                            <th>SITE NAME</th>
                            <th>SITE ID</th>
                            <th>LONG</th>
                            <th>LAT</th>
                            <th>WEIGHT</th>
                            <th>STATUS</th>
                            <th style="text-align: center;">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in site_map_data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="{{i.id}}siteid">{{i.siteid}}</td>
                            <td class="{{i.id}}sitename">{{i.sitename}}</td>
                            <td class="{{i.id}}long">{{i.long}}</td>
                            <td class="{{i.id}}lat">{{i.lat}}</td>
                            <td class="{{i.id}}weight">{{i.weight}}</td>
                            <td class="{{i.id}}status">{{i.status}}</td>
                            <td style="text-align: center;">
                                <button class="btn btn-sm btn-info edit_site_btn" data-toggle="modal" data-target="#editform" row="{{i.id}}"><i class="fa fa-edit"></i> EDIT</button>
                                <a class="btn btn-sm btn-danger" href="{% url 'delete' id=i.id %}" onclick="return confirm('Are you sure?');"><i class="fa fa-trash"></i> DELETE</a>
                            </td>
                        </tr>

                        {% endfor %}

                    </tbody>
                    <!-- <tfoot>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td><strong>Position</strong></td>
                            <td><strong>Office</strong></td>
                            <td><strong>Age</strong></td>
                            <td><strong>Start date</strong></td>
                            <td><strong>Salary</strong></td>
                        </tr>
                    </tfoot> -->
                </table>
            </div>
            <!-- <div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div> -->
        </div>
    </div>
</div>


{% include 'sitemanger/add_site.html' %} {% include 'sitemanger/edit_site.html' %} {% endblock %} {% block jscode %}
<script>
    $(document).ready(function() {
        $('#myTable').DataTable();
    });
    $(document).on('click', '.edit_site_btn', function() {
        $('#id').val($(this).attr('row'));
        $('#siteid').val(($('.' + $(this).attr('row') + 'siteid').html()));
        $('#sitename').val(($('.' + $(this).attr('row') + 'sitename').html()));
        $('#long').val(($('.' + $(this).attr('row') + 'long').html()));
        $('#lat').val(($('.' + $(this).attr('row') + 'lat').html()));
        $('#weight').val(($('.' + $(this).attr('row') + 'weight').html()));
    });



    $(document).on('keyup', '#siteid', function() {
        $.ajax({
            type: "POST",
            url: '../site_manger/',
            data: {
                'action': 'check_site_name',
                'siteid': $(this).val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                if (parseInt(data) == 1) {
                    $(this).css('color', 'red');
                } else {
                    $(this).css('color', 'black');
                }
            }
        });
    });
</script>
{% endblock %}