{% extends "home.html" %}
{% block content %}
{% load static %}

<!-- <table class="site_down">
  <tr>
    <th>site</th>
    <th>status</th>
    <th>Weight</th>
  </tr>
  {% for f in info %}
  <tr>
    <td>{{ f.site_id }}</td>
    <td>{{ f.site_status }}</td>
    <td>{{ f.site_weight }}</td>
  </tr>
  {% endfor %}
</table> -->
<!-- 
<table class="site_link">
  <tr>
    <th>Site A</th>
    <th>Site B</th>
  </tr>
  {% for ff in info_two %}
  <tr>
    <td>{{ ff.site_A }}</td>
    <td>{{ ff.site_B }}</td>
  </tr>
  {% endfor %}
</table> -->

<div id="map" >aas</div>
<script>
  var map = L.map('map').setView([{{ center }}], 12.5);
  // L.map('map', {attributionControl: false})
  document.getElementsByClassName('leaflet-control-attribution')[0].style.display = 'none';
  L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=bkYok3K8clVp1P611nOj', {
    tileSize: 512,
    zoomOffset: -1,
    minZoom: 1,
    attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
    crossOrigin: true
  }).addTo(map);

    var up = L.icon({ iconUrl: '{% static "icons/up.png" %}',iconSize:[10, 10],});

    var down = L.icon({ iconUrl: '{% static "icons/down.png" %}',iconSize:[10, 10],});
</script>

{% for i in data %}
<script>
var site = L.marker([{{ i.site_lat }} , { { i.site_long } }], { icon: { { i.site_status } } }).addTo(map);
  site.bindPopup("i.site_E").openPopup();
  site.bindTooltip("{{ i.site_id }} | {{ i.site_name }} | {{ i.site_weight }}", { permanent: true, className: "custom_l", opacity: 0.5 }).openTooltip();
//site.bindTooltip("{{ i.site_id }}", {permanent: true, className: "custom_l"}).openTooltip();
</script>
{% endfor %}


{%for a,b,c in Z %}
<script>

  var A = new L.LatLng({{ a }});
  var B = new L.LatLng({{ b }});
  var list = [A, B];

  var firstpolyline = new L.Polyline(list, { color: '{{ c }}', weight: 3, opacity: 0.5, smoothFactor: 1 });
  firstpolyline.addTo(map);

</script>
{% endfor %}


{% endblock %}