{% extends 'layout/base.html' %}
{% block content %}
    <input id="BaseSite" value="{{ siteid }}" hidden>
    <div class="container-fluid">
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">
                    {{ title }}<small style="color: red;;">{{ msg }}</small>
                    <!-- <button class="btn btn-md btn-success pull-right" data-toggle="modal" data-target="#exampleModal"> <i class="fa fa-plus-circle"></i> Add Site</button> -->
                </p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="" style="text-align: left;">
                            <button class="btn btn-success"
                                    data-toggle="modal"
                                    data-target="#exampleModal">
                                <i class="fa fa-plus-circle"></i>Link
                        </button>
                    </div>
                    <table class="table">
                        <tr>
                            <th>#</th>
                            <th>Site A</th>
                            <th>Site B</th>
                            <th>Link Name</th>
                        </tr>
                        <tbody>
                            {% for i in linksdata %}
                                <tr>
                                    <td>{{ i.siteA }}</td>
                                    <td>{{ i.siteB }}</td>
                                    <td>{{ i.link_name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <div style="height:780px;width: 100%;" id="MapUIElement"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'linksManger/add_link.html' %}
{% include 'linksManger/edit_link.html' %}
{% endblock %}
{% block chart %}
    <script>
{% comment %} 
1 When document loaded 
2 Get Currect site info
3 Start Map set center
4 Mark Current Site

{% endcomment %}
    var MapUIElement = L.map('MapUIElement', {attributionControl: false})
    .setView([15.647757, 32.492525], 100);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibW9oYW1tZWRraGFpciIsImEiOiJja3RqdDVqbHMwMDl1MnZtanoyYmk2Zm5uIn0.CRgLiVlA1l1X86NhaUXAvQ', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    //id: 'mapbox/satellite',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'your.mapbox.access.token'
    }).addTo(MapUIElement);


function GetSite(){
    $.ajax({
    type: "POST",
    url: "{% url 'GetSite' %}",
    data: {
      id: $(this).attr("row"),
      csrfmiddlewaretoken: "{{ csrf_token }}",
    },
    success: function (GetSite) {
      $("#id_edit").val(GetSite.id);
      $("#siteid_edit").val(GetSite.siteid);
      $("#sitename_edit").val(GetSite.sitename);
      $("#long_edit").val(GetSite.long);
      $("#lat_edit").val(GetSite.lat);
      $("#weight_edit").val(GetSite.weight);
    },
  }); 
}
    marker = new L.marker([15.647757, 32.492525], {
        'alt': "siteid"
    })
    .bindPopup("data[i].siteid");
var new_popup = L.popup({
    "autoClose": false,
    "closeOnClick": null
});
new_popup.setContent("Content");
marker.bindPopup(new_popup).openPopup();
marker.addTo(MapUIElement);


    function initialization_() {
        var BaseSite = $('#BaseSite').val();
        // console.log(BaseSite);
        $.ajax({
            type: "POST",
            url: '../maps/map_controller',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                'action': 'linkManger_',
                'siteid': BaseSite
            },
            success: function(data) {
                 for (var i = 0; i < data.length; i++) {
                     console.log(data[i].siteid);
                     marker = new L.marker([data[i].long, data[i].lat], {
                             'alt': data[i].siteid
                         })
                         .bindPopup(data[i].siteid);
                     var new_popup = L.popup({
                         "autoClose": false,
                         "closeOnClick": null
                     });
                     new_popup.setContent(data[i].siteid + "<br>" + data[i].long + "<br>" + data[i].lat);
                     marker.bindPopup(new_popup).openPopup();
                     marker.addTo(MapUIElement);
                 }
            }
        });
    }

    initialization_();

    // var marker = new L.marker([51.505, -0.13]).addTo(MapUIElement);
    // var marker = new L.marker([51.505, -0.10]).addTo(MapUIElement);
    // var pointA = new L.LatLng(51.505, -0.13);
    // var pointB = new L.LatLng(51.505, -0.10);
    // var pointList = [pointA, pointB];
    // var firstpolyline = new L.Polyline(pointList, {
    //     color: 'green',
    //     weight: 10,
    //     opacity: 0.5,
    //     smoothFactor: 1
    // });
    // var new_popup = L.popup({
    //     "autoClose": false,
    //     "closeOnClick": null
    // });
    // new_popup.setContent("Asdasdasd");
    // firstpolyline.bindPopup(new_popup).openPopup();
    // firstpolyline.addTo(MapUIElement);
    </script>
{% endblock %}
{% block jscode %}
    <script>
    // $(document).on('click', '.delete_btn', function() {
    //     var whichtr = $(this).closest("tr");
    //     swal({
    //             title: "Are you sure?",
    //             text: "Once deleted, you will not be able to recover this Site Data!",
    //             icon: "warning",
    //             buttons: true,
    //             dangerMode: true,
    //         })
    //         .then((willDelete) => {
    //             if (willDelete) {
    //                 $.ajax({
    //                     type: "POST",
    //                     url: '../site_manger_delete/',
    //                     data: {
    //                         'id': $(this).attr('row'),
    //                         csrfmiddlewaretoken: '{{ csrf_token }}'
    //                     },
    //                     success: function(data) {
    //                         if (data.error == 0) {
    //                             swal(data.msg, {
    //                                 icon: "success",
    //                             });
    //                             whichtr.remove();
    //                         } else {
    //                             swal(data.msg, {
    //                                 icon: "error",
    //                             });
    //                         }
    //                     }
    //                 });
    //             }
    //         });
    // });

    $(document).ready(function() {
        $('#myTable').DataTable();
    });

    // $(document).on('click', '.edit_site_btn', function() {
    //     $('#id_edit').val($(this).attr('row'));
    //     $('#siteid_edit').val(($('.' + $(this).attr('row') + 'siteid').html()));
    //     $('#sitename_edit').val(($('.' + $(this).attr('row') + 'sitename').html()));
    //     $('#long_edit').val(($('.' + $(this).attr('row') + 'long').html()));
    //     $('#lat_edit').val(($('.' + $(this).attr('row') + 'lat').html()));
    //     $('#weight_edit').val(($('.' + $(this).attr('row') + 'weight').html()));
    // });




    // $(document).on('keyup', '#siteid_add', function() {
    //     $.ajax({
    //         type: "POST",
    //         url: '../site_manger/',
    //         data: {
    //             'action': 'check_site_name',
    //             'siteid': $(this).val(),
    //             csrfmiddlewaretoken: '{{ csrf_token }}'
    //         },
    //         success: function(data) {
    //             if (parseInt(data) == 1) {
    //                 $('#siteid_add').css("color", "red");
    //                 $('#submitBtn').prop('disabled', true);
    //                 $('#error').html('Name already used.');
    //             } else {
    //                 $('#siteid_add').css("color", "black");
    //                 $('#submitBtn').prop('disabled', false);
    //                 $('#error').html('');
    //             }
    //         }
    //     });
    // });
    </script>
{% endblock %}
